<!-- Base template for all of the html pages-->

{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'winnow/styles.css' %}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

</head>
<body>
<div class="container" id="topheader">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid d-print-none">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="{% static "winnow/logo.png" %}" alt="gfn.com"
                                                      width="120"
                                                      height="60" class="d-inline-block align-top"></a>
            </div>

            {% if user.username %}
                <ul class="navbar-nav mr-auto ">
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'index' %}">Invoices </a>
                    </li>
                    {% if request.session.accounttype == 'Supplier' %}

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'linked_users' %}">Customers </a>
                        </li>
                    {% endif %}

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item ">
                        <a class="nav-link" href="#">{{ request.session.accounttype }} (View) </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarLogoutLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'logout' %}"><span
                                    class="glyphicon glyphicon-log-out">Logout</span></a>
                        </div>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>
</div>
<div class="container">
    {% block body %}
    {% endblock %}
</div>
</body>
</html>
