body {
    background: linear-gradient(117deg, rgba(58, 101, 180, 1) 0%, rgba(29, 154, 253, 0.9304096638655462) 50%, rgba(69, 226, 252, 1) 100%);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#winnow-nav {
    box-shadow: 0px 3px 5px dimgray;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.entry-form {
    box-shadow: 3px 3px 5px grey;
}

#basic-navbar-nav .navbar-nav .nav-link {
    font-weight: bold;
    text-shadow: 3px 3px 5px cornflowerblue;
}

table {
    box-shadow: 3px 3px 5px grey;
}

thead {
    background-color: rgba(29, 154, 253, 0.9304096638655462);
}

th {
    border: 0;
}

.btn {
    box-shadow: 3px 3px 5px darkgrey;

}

.form-row {
    margin-bottom: 5px;
}

.searchActions {
    margin: 0 10px;
}

.tab-heading {
    display: block;
    text-align: center;
}

.button-bar {
    padding: 5px 0;
}

.button-bar button {
    margin-right: 1em;
}

#dashboard, .main-tab-holder {
    border-radius: 4px;
    margin: 5em 5em 0 5em;
    padding: 1px 1px 1px 1px;
    height: 80vh;
}

#dashboard .row {
}


#dashboard-tabs, .nav-tab-collection {
    padding-top: 2em;
    border: 0;
}

#dashboard-tabs .nav-item .nav-link.active, .nav-tab-collection .nav-item .nav-link.active {
    margin-right: -2px;
    border: 2px solid #1c7430;
    border-right: 0;
    border-radius: 4px 0 0 4px;
    position: relative;
    z-index: 98;
    background-color: white;
    color: royalblue;
    /*box-shadow: -2px -2px 5px darkgrey;*/
}

/*
#dashboard-tabs .nav-item .nav-link.active::before {
    content: "";
    position: absolute;
    z-index: 99;
    right: 1px;
    top: -6px;
    height: 4px;
    width: 3px;
    border-bottom-right-radius: 4px;
    background-color: transparent;
    box-shadow: 2px 2px 0 #1c7430;
}
*/
#dashboard-tabs .nav-item .nav-link, .nav-tab-collection .nav-item .nav-link {
    margin-right: 0;
    border-right: 0;
    border-color: #1c7430;
    border-radius: 4px 0 0 4px;
    padding: 1.5em;
    margin-bottom: 1.5em;
    background-color: #ddd;
    font-weight: bold;
    color: cornflowerblue;
}

#dashboard-outer-tabs, .outer-tabs {
    padding-right: 0;
}

#dashboard-outer-tab-content, .outer-tab-content {
    background-color: white;
    border: 2px solid #1c7430;
    position: relative;
    z-index: 1;
    border-radius: 4px;
    height: 70vh;
    box-shadow: 3px 3px 5px grey;
}

.super-treeview {
    max-height: 55vh;
    overflow-y: auto;
}

.super-treeview div > * {
    max-height: initial;
    overflow-y: initial;
}

.exit-results {
    display: inline-block;
    float: right;
}

.exit-results :hover {
    cursor: pointer;
}

.gene-detail-index {
    font-style: italic;
}

.gene-detail-table-div {
    clear: both;
    margin-bottom: 1em;
}

.gene-detail-table-div button {
    float: right;
}

#recent-search-div  table {
    max-height: 55vh;
    overflow-y: auto;
}

.modal-header {
    background-color: lightgoldenrodyellow;
    box-shadow: 0 2px 5px grey;
    padding: .1rem;
}

.fa-chevron-left:hover {
    color: lightgoldenrodyellow;
}

.fa-play, .fa-share-alt, .fa-times, .fa-sign-out-alt, .fa-user {
    filter: drop-shadow(2px 2px 1px darkgrey);
}