html {
    height: 100%;
}

body {
    background: linear-gradient(117deg, rgba(58, 101, 180, 1) 0%, rgba(29, 154, 253, 0.9304096638655462) 50%, rgba(69, 226, 252, 1) 100%);
    margin: 0;
    font-family: Montserrat;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#winnow-nav {
    box-shadow: 0 3px 5px dimgray;
    background-color: antiquewhite;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.faq-button {
    width: 100%;
    font-weight: bold;
}

.text-title {
    font-weight: bold;
}

.entry-form {
    box-shadow: 3px 3px 5px grey;
}

#basic-navbar-nav .navbar-nav .nav-link {
    font-weight: bold;
    text-shadow: 3px 3px 5px cornflowerblue;
}

table {
    box-shadow: 3px 3px 5px grey;
}

thead {
    background-color: rgba(29, 154, 253, 0.9304096638655462);
}

th {
    border: 0;
}

.btn {
    box-shadow: 3px 3px 5px darkgrey;

}

.form-row {
    margin-bottom: 5px;
}

.searchActions {
    margin: 0 10px;
}

.tab-heading {
    display: block;
    text-align: center;
}

.button-bar {
    padding: 5px 0;
}

.button-bar button {
    margin-right: 1em;
}

#dashboard, .main-tab-holder {
    border-radius: 4px;
    margin: 5em 5em 0 5em;
    padding: 1px 1px 1px 1px;
    height: 80vh;
}

#dashboard-tabs, .nav-tab-collection {
    padding-top: 2em;
    border: 0;
}

#dashboard-tabs .nav-item .nav-link.active, .nav-tab-collection .nav-item .nav-link.active {
    margin-right: -2px;
    border: 2px solid #1c7430;
    border-right: 0;
    border-radius: 4px 0 0 4px;
    position: relative;
    z-index: 98;
    background-color: white;
    color: royalblue;
}

#dashboard-tabs .nav-item .nav-link, .nav-tab-collection .nav-item .nav-link {
    margin-right: 0;
    border-right: 0;
    border-color: #1c7430;
    border-radius: 4px 0 0 4px;
    padding: 1.5em;
    margin-bottom: 1.5em;
    background-color: #ddd;
    font-weight: bold;
    color: cornflowerblue;
}

#dashboard-outer-tabs, .outer-tabs {
    padding-right: 0;
}

#dashboard-outer-tab-content, .outer-tab-content {
    background-color: white;
    border: 2px solid #1c7430;
    position: relative;
    z-index: 1;
    border-radius: 4px;
    height: 80vh;
    box-shadow: 3px 3px 5px grey;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: #888;
    font-style: italic;
}

.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #888;
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}

.super-treeview {
    max-height: 55vh;
    overflow-y: auto;
}

.super-treeview div > * {
    max-height: initial;
    overflow-y: initial;
}

.srd-tr td {
    width: auto;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.exit-results {
    display: inline-block;
    float: right;
}

.exit-results :hover {
    cursor: pointer;
}

.gene-detail-index {
    font-style: italic;
}

.gene-detail-table-div {
    clear: both;
    margin-bottom: 1em;
}

.gene-detail-table-div button {
    float: right;
}

.co-gene-link .fa-external-link-alt, .pubmed-art-link .fa-external-link-alt {
   margin-left: .5em;
}

.instruction {
    margin-left: 1em;
    font-size: small;
    font-style: italic;
}

#recent-search-div  {
    max-height: 60vh;
    overflow-y: auto;
}

#recent-search-div  table {
    width: 99%;
}

.modal-header {
    background-color: antiquewhite;
    box-shadow: 0 2px 5px grey;
    padding: .1rem;
}

.fa-chevron-left:hover {
    color: navajowhite;
}

.fa-play, .fa-share-alt, .fa-times, .fa-sign-out-alt, .fa-user {
    filter: drop-shadow(2px 2px 1px darkgrey);
}